* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif ;
  display: grid;
  place-items: center;
}
h1 {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 24rem;
  gap: 1rem;
}

input,
select,
textarea {
  padding: 1.4rem;
  background: transparent;
  border: 1px solid black;
}

textarea {
  height: 6rem;
}
button {
  width: 8reem;
  padding: 1.4rem;
  cursor: pointer;
  background: #673de6;
  color white;
}
a:-webkit-any-link {
    color: green;
    cursor: pointer;
    text-decoration: none;
  }

