* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-image: url(img/BG.png);
  background-size: 100vw 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}
.logo img {
  width: 80px;
  margin-top: 10px;
  border: 3px solid green;
  border-radius: 50%;
}
.items {
  display: flex;
  align-items: center;
}
.items ul {
  display: flex;
  list-style: none;
}
.items ul li {
  color: #fff;
  margin-right: 16px;
  font-size: 22px;
}
.items ul li:hover {
  color: green;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
#active {
  color: green;
  font-weight: 600;
}
.btn {
  display: flex;
  align-items: center;
}
.btn button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  outline: green;
  border: green;
  clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 45%);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.btn button:hover {
  color: lightgreen;
  border: 2px solid lightgreen;
  background-color: transparent;
}
.content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  margin-left: 5vw;
}
.c-1 {
  margin-bottom: 20px;
}
.c-1 h1 {
  color: #fff;
  font-size: 56px;
}
.c-1 h1 span {
  color: green;
}
.c-2 p {
  color: lightgray;
  letter-spacing: 2px;
}
.c-3 {
  margin-top: 100px;
}
.c-3 button {
  padding: 10px 20px;
  border: green;
  border-radius: 10px;
  color: #fff;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.c-3 button:hover {
  color: lightgreen;
  background-color: transparent;
  border: 2px solid lightgreen;
}
.form

{

	position: relative;

	margin: 0 auto 100px;

	padding: 45px;

    text-align: center;

}

.form input

{

	font-family: sans-serif;

	outline: none;

    border: none;

    border-bottom: 1px solid black;

	width: 100%;

	margin: 0 0 15px;

	padding: 15px;

	font-size: 14px;

}

.form button

{

	font-family: sans-serif;

	width: 100%;

    color: white;

	font-size: 14px;

	cursor: pointer;

	padding: 15px;

    border: none;

    background: coral;

}

.form .message

{

    font-size: 12px;

	margin: 15px 0 0;

    color: white;

}

.form .message a

{

	color: orangered;

	text-decoration: none;

}

.form .register-form{

	display: none;

}

.defination

{

    text-align: left;

    font-size: 30px;

    color: white;

    font-family: 'Kaushan Script', cursive;

    padding-left: 60px;

}
a:-webkit-any-link {
    color: green;
    cursor: pointer;
    text-decoration: none;
}

