* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-image: url(img/BG.png);
  background-size: 100vw 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}
.logo img {
  width: 80px;
  margin-top: 10px;
  border: 3px solid green;
  border-radius: 50%;
}
.items {
  display: flex;
  align-items: center;
}
.items ul {
  display: flex;
  list-style: none;
}
.items ul li {
  color: #fff;
  margin-right: 16px;
  font-size: 22px;
}
.items ul li:hover {
  color: green;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn {
  display: flex;
  align-items: flex-start;
}
.btn button {
  padding: 10px 20px;
  font-size: 18px;
  color: green;
  background-color: #90EE90;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.btn button:hover {
  color: green;
  border: 2px solid lightgreen;
  background-color: none;
}

.form

{

	position: relative;

	margin: 0 auto 100px;

	padding: 45px;

    text-align: center;

}

.form input

{

	font-family: sans-serif;

	outline: none;

  border: none;

  border-bottom: 1px solid black;

	width: 100%;

	margin: 0 0 15px;

	padding: 15px;

	font-size: 14px;

}

.form button

{

	font-family: sans-serif;

	width: 100%;

  color: green;

	font-size: 14px;

	cursor: pointer;

	padding: 15px;

  border: none;

  background: coral;

}

a:-webkit-any-link {
    color: green;
    cursor: pointer;
    text-decoration: none;
}
