* {
  box-sizing: border-box;
}

body {
  background-color: #fef9f2;
  font-family: "Monserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.panel-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  max-width: 400px;
  text-align: center;
}

.panel-container strong {
  line-height: 20px;
}

.panel-container p {
  margin: 25px 0;
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  cursor: pointer;
  flex: 1;
  padding: 20px;
  margin: 10px 5px;
}

.rating.active,
.rating:hover {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating img {
  width: 40px;
}

.rating small {
  color: #555;
  display: inline-block;
  margin: 10px 0 0;
}

.rating.active small,
.rating:hover small {
  color: #111;
}

.btn {
  background-color: #302d2b;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 12px 30px;
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
